<form [formGroup]="formServico" (ngSubmit)="salvarServico()">
  <br>
  <div class="form-group">
      <label for="id" class="form-label">ID</label>
      <input id="id" formControlName="idServico" type="text" class="form-control"  autocomplete="off">
      <label for="nome" class="form-label">Nome</label>
      <input id="nome" formControlName="nomeServico" type="text" class="form-control"  autocomplete="off">
      <label for="valor" class="form-label">Valor</label>
      <input id="valor" formControlName="valorServico" type="date" class="form-control"  autocomplete="off">
      <label for="tipo" class="form-label">Tipo</label>
      <input id="tipo" formControlName="tipoServico" type="date" class="form-control"  autocomplete="off">
  </div>
  <br>
    
  <div class="alert alert-danger mt-1" *ngIf="formServico.invalid && !formServico.pristine">
      <span *ngIf="formCliente.get('cpfCliente')?.errors?.['maxlength']">O cpf deve ter no máximo 11 digitos<br></span>
      <span *ngIf="formCliente.get('nomeCliente')?.errors?.['required']">O nome do cliente é obrigatório!<br></span>
      <span *ngIf="formCliente.get('nomeCliente')?.errors?.['minlength']">O nome deve ter no mínimo 3 digitos<br></span>
      <span *ngIf="formCliente.get('dataCliente')?.errors?.['required']">A data de nascimento é Obrigatória!<br></span>
 </div>
 <input type="submit" value="Salvar" class="btn btn-primary" [disabled]="formCliente.invalid"/>
 <br>
</form>